
<nav class="navbar">
  <div class="left-group">
    <div class="menu-button" (click)="onClick()">
      <svg  xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
        <path fill="currentColor" d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
      </svg>
    </div>

    <ul [ngClass]="{'nav-list': true, 'show': isClicked}" class="nav-list" (click)="onClick()">
      <li routerLink="/home">Home</li>
      <li *ngIf="role === 'ROLE_ADMIN' && service.isLoggedIn()" routerLink="/createRoom">Create Room</li>
      <li routerLink="/rooms">Rooms</li>
      <li routerLink="/restaurant">Services</li>
      <li *ngIf="role === 'ROLE_ADMIN' || role === 'ROLE_STAFF' && service.isLoggedIn()" routerLink="/maintenance">Maintenance</li>
      <li *ngIf="service.isLoggedIn()" routerLink="/reviews" >Leave a review</li>
    </ul>
  </div>


<div class="right-group">
  <div class="currency">
    <select id="currency" (change)="changeCurrency($event)">
      <option value="RON">RON</option>
      <option value="EUR">EUR</option>
      <option value="USD">USD</option>
    </select>
  </div>

  <div class="login">
    <a *ngIf="service.isLoggedIn()" routerLink="/myAccount">My Account</a>
    <a *ngIf="!service.isLoggedIn()" routerLink="/login">Log In</a>
  </div>
</div>
</nav>
