body {
  margin-top: 100px;
}

.account-wrapper {
  display: flex;
  max-width: 100%;
  margin: 20px 20px 0 5%;
  gap: 20px;
}

.sidebar {
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: left;
}

.sidebar button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar button.active,
.sidebar button:hover {
  background-color: #404345;
  color: white;
}

.main-content {
  flex-grow: 1;
}

.container-panel {
  background: white;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  justify-self: center;
}

.panel-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-input {
  padding: 10px;
  border: 1px solid #afafaf;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.form-button, .verifyCode, .sendCode {
  padding: 10px;
  background-color: #515353;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.form-button:hover {
  background-color: #222c34;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: gray;
}

.address-section {
  margin-top: 30px;
  text-align: center;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.logout-button:hover {
  background-color: #a12531;
}

.sendCode{
  margin: 5px 0;
}

.sendCode:hover,.verifyCode:hover{
  background-color: #222c34;
}


@media (max-width: 768px) {
  .account-wrapper {
    flex-direction: column;
    margin: 10px;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .sidebar button {
    flex: 1 1 120px;
    padding: 8px;
    font-size: 14px;
  }

  .main-content {
    width: 100%;
  }

  .container-panel {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  body {
    margin-top: 60px;
  }

  .account-wrapper{
    padding-top: 30px;
  }

  .sidebar button {
    font-size: 13px;
    padding: 7px;
  }

  .panel-title {
    font-size: 24px;
  }
}
