.main-container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.reservation-container {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  text-align: center;
  border: 2px solid #ddd;
}

.services-panel {
  display: flex;
  /*flex-direction: column;*/
  flex-direction: row;
  gap: 20px;
  max-width: 550px;
  width: 100%;
}

.service-card {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 16px;
  border: 2px solid #ddd;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.service-card label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-card input[type="checkbox"] {
  margin-bottom: 8px;
  transform: scale(1.5);
  cursor: pointer;
}

button {
  margin: 10px 10px;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 350px;
  width: 90%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-buttons button {
  margin: 10px 5px;
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  min-width: 100px;
  transition: background-color 0.3s;
}

.modal-buttons button:last-child {
  background-color: #ccc;
  color: #333;
}

.modal-buttons button:hover {
  opacity: 0.9;
}

.payment-form-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 16px;
  border: 2px solid #ddd;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  font-family: 'Segoe UI', sans-serif;
}

.payment-form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 16px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form-group.half {
  flex: 1;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }
}
