body{
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid rgba(128, 128, 128, 0.37);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  cursor: pointer;
}

.nav-list {
  display: flex;
  list-style: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.nav-list li {
  color: #454141;
  cursor: pointer;
  padding: 8px;
}

.left-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-group{
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
}

.nav-list li:hover{
  background-color: rgba(220, 217, 217, 0.68);
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: black;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-list li {
  color: #454141;
  cursor: pointer;
  animation: slideInLeft 0.4s ease forwards;
  opacity: 0;
}

.nav-list li:nth-child(1) {
  animation-delay: 0.1s;
}
.nav-list li:nth-child(2) {
  animation-delay: 0.2s;
}
.nav-list li:nth-child(3) {
  animation-delay: 0.3s;
}
.nav-list li:nth-child(4) {
  animation-delay: 0.4s;
}
.nav-list li:nth-child(5) {
  animation-delay: 0.5s;
}
.nav-list li:nth-child(6) {
  animation-delay: 0.6s;
}

.currency select,.login{
  background-color: rgba(255, 255, 255, 0.0);
  padding: 10px;
  cursor: pointer;
  border: none;
}
.currency select:hover{
  background: rgba(220, 217, 217, 0.68);
  border-radius: 5px;
}
.login:hover{
  background: rgba(220, 217, 217, 0.68);
  border-radius: 5px;
}

@media (max-width: 972px) {
  nav {
    flex-direction: row;
    align-items: center;
    position: fixed;
    background-color: white;
    border-bottom: 2px solid rgba(128, 128, 128, 0.37);
  }

  .nav-list {
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: 100%;
    gap: 20px;
    transition: left 0.3s ease;
    background-color: white;
    border-top: 2px solid rgba(128, 128, 128, 0.37);
    justify-items: center;
  }

  .nav-list li {
    border-bottom: 2px solid rgba(128, 128, 128, 0.37);
  }

  .nav-list.show {
    left: 0;
  }

  .left-group {
    flex: 1;
  }

  .right-group {
    z-index: 2000;
  }
}
@media (min-width: 973px) {
  .nav-list {
    display: none;
    flex-direction: row;
  }

  .nav-list.show {
    display: flex;
  }

}
