<body>

<div class="homepage-container">
  <div class="welcome-card">
  <h1 class="welcome-title">Welcome to Hotel Relax!</h1>
  <p class="welcome-subtitle">Make your desired reservation fast and easy!</p>
  </div>

  <div class="features">
    <div class="feature-card">
      <h3>🔍 Check Availability</h3>
      <p>Find in real time what rooms are available for desired period.</p>
      <button routerLink="/availability">Search Rooms</button>
    </div>

    <div class="feature-card">
      <h3>📋 Check Your Reservations</h3>
      <p>Quickly access the list of your active and past reservations.</p>
      <button routerLink="/reservations">My Reservations</button>
    </div>

    <div class="feature-card">
      <h3>🏨 Our Rooms</h3>
      <p>See details about all rooms available in the hotel.</p>
      <button routerLink="/rooms">Room List</button>
    </div>
  </div>
</div>
</body>
